* {
	box-sizing: border-box;
}

*:before,
*:after {
	box-sizing: inherit;
}

body {
	font-family: 'Roboto', sans-serif;
	color: #12353c;
  margin: 0;
  padding: 0;
}

.hero {
  position: relative;
	height: 50vh;
	background: repeating-linear-gradient(-45deg, #eddd3e, #eddd3e 20px, #12353c 20px, #12353c 40px);
	background-size: 112px 112px;
	background-position: 0% 0%;
  animation: slide 20s infinite linear forwards;
}

@keyframes slide {
	0%{
		background-position: 0% 0%;
	}
	100% {
		background-position: 0% 100%;
	}
}

.hero__title {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
  font-size: 3em;
  color: white;
	text-transform: uppercase;
  text-align: center;
  text-shadow: -1px 1px 1px #12353c;
  margin: 0;
}

.layout {
  padding: .5em;
}

@media screen and (min-width: 1024px) {
  .layout {
    margin: 0 calc(50% - 512px);
  }

  .main {
    display: inline-block;
    width: calc(100% - 300px - 1em);
    margin-right: 1em;
  }
}

.article__header {
  position: sticky;
  top: 20px;
  padding: .5em 2em .5em 0;
  background: white;
  border-bottom: 1px solid gray;
  z-index: 1;
}

.article__title {
  font-size: 1.5em;
  margin: .25em 0;
}

.article__content {
  width: 100%;
}

@media screen and (min-width: 800px) {
  .article__content {
    display: inline-block;
    width: calc(100% - 11em);
    margin-right: 1em;
  }
}

.article__author {
  text-align: center;
  border: 1px solid gray;
  padding: .25em;
  margin-top: 1em;
  margin-bottom: 1em;
}

@media screen and (min-width: 800px) {
  .article__author {
    position: sticky;
    top: 100px;
    display: inline-block;
    vertical-align: top;
    width: 10em;
  }
}

.article__avatar {
  display: block;
  border-radius: 100%;
  margin: 0 auto;
}

.article__name {
  display: block;
}

.advertisement {
  position: sticky;
  top: 80px;
  display: inline-block;
  vertical-align: top;
  width: 300px;
}